*{
  font-family: RobotoSlab, sans-serif;
  color: #fff;
}
.container{
  max-width: 1200px;
  padding: 0 10px;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
}
.btn{
  display: inline-block;
  margin: 20px auto ;
  height: 40px;
  line-height: 40px;
  width: 200px;
  text-align: center;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
  background-color: $main-color;
  border: 1px solid $main-color;
  color: white;
  transition: .3s;
  &:hover{
    background-color: transparent;
  }
}
.down-wrap{
  cursor: pointer;
  padding: 15px;
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  z-index: 1;
}
.down{
  position: relative;
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  cursor: pointer;
  animation: change-background 3s ease infinite backwards;
  animation-delay: 2s;
  &:before{
    content: "";
    position: absolute;
    top: -15px;
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
    animation: change-background 3s ease infinite backwards;
    animation-delay: 1s;
  }
  &:after{
    content: "";
    position: absolute;
    bottom: -15px;
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
    animation: change-background 3s ease infinite backwards;
  }
}

.common-title{
  padding: 15px 0;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: $main-color;
  position: relative;
  z-index: 2;
}
.common-text{
  padding: 10px 0;
  font-size: 20px;
  line-height: 30px;
  text-indent: 20px;
  text-align: justify;
  position: relative;
  z-index: 2;
}
.overlay{
  display: none;
  background-color: #000;
  cursor: pointer;
  height: 100vh;
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.modal-open{
  overflow: hidden;
}

@media screen and (max-width: 400px){
  .common-title{
    font-size: 35px;
  }
}