@keyframes change-background {
  0% {
    background: $main-color;
  }
  100% {
    background: #fff;
  }
}
@keyframes call {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}