section.about-s
    .container
        h3.common-title Супер Профессиональная Студия Видеозаписи
        p.common-text Мы - профессиональная студия видеозаписи в этом бренном мире.
            |  Наша миссия - качественно и недорого реализовывать ваши творческие идеи, если они конечно не наполеонского масштаба.
            |  Студия предлагает полный спектр услуг видеозаписи.
            |  Оптимальное соотношение цены и качества, тёплая дружелюбная атмосфера и отсутствие ограничений по времени - вот наш подход к работе.
            |  Мы сказали «нет» почасовой оплате и возрастной дискриминации.
            |  Ведь, как известно, творчество не терпит ограничений!
        p.common-text Студия видеозаписи Bargester предлагает услуги всем творческим людям,
            |  независимо от пола, возраста, музыкальных предпочтений, социального статуса, вероисповедания, криминального прошлого, финансового достатка, расовой принадлежности.
        p.common-text Так же Вы можете воспользоваться услугой почти бесплатного тест-драйва, приехать к нам на студию и бесплатно записать часть своих идей.
            |  Помимо предложенных услуг, вы всегда можете заказать почасовую аренду студии видеозаписи, самостоятельно контролируя процес записи и время проведенное в студии.
        p.common-text Наша звукозаписывающая студия пока еще не "№1" во вселенной, поэтому для нас особенно важно то, что у нас крутой сайт.





