section.best-s
    .container
        h3.common-title Почему мы лучшие?
        ul.best-s__reasons-list
            li.best-s__reasons-item
                img(src="static/img/svg/video.svg" height="100px")
                h4.best-s__reasons-title Видео, которое доступно каждому
                p.best-s__reasons-text Мы позаботились о том, чтобы цены не были препятствием для вашего творчества
                a(href="https://bargester.github.io/test-ContentMania/build/price.html").btn Цены
            li.best-s__reasons-item
                img(src="static/img/svg/team.svg" height="100px")
                h4.best-s__reasons-title Вы окажетесь в надежных руках
                p.best-s__reasons-text Наши люди - одни из лучших, которые действительно разбираются в видеозаписи
                a(href="https://bargester.github.io/test-ContentMania/build/team.html").btn Команда