section.contacts-slider-s
    .container.contacts-slider-s__wrap
        h3.common-title Наша обитель
        h2.common-subtitle А так как ее нет, то наслаждайтесь горами:
        .slider
            img.slider__item(src="static/img/content/slide-1.jpg")
            img.slider__item(src="static/img/content/slide-2.jpg")
            img.slider__item(src="static/img/content/slide-3.jpg")
            img.slider__item(src="static/img/content/slide-4.jpg")
