section.price-intro-s
    .container.price-intro-s__wrap
        h3.common-title Наши контакты
        .price-intro-s__content
            .price-intro-s__text
                p.common-text Киев, улица академика Янгеля 5, 3-15
                a(href="+380688047468").common-text.link-color +38 068 704 74 68
                p.common-text И помните, что у нас постители с 8 до 22, так что сначала позвоните
            .price-intro-s__video
                h3.price-intro-s__title Ну а здесь должен быть адрес нашей большой студии, но:
                iframe(width='100%', height='315', src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.5306924547463!2d30.451299215731368!3d50.44984167947527!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cc2636b4d71b%3A0x9fd1e501c1bda3e2!2z0JPRg9GA0YLQvtC20LjRgtC-0Log4oSWMSDQndCi0KPQoyAi0JrQn9CGIiwg0LLRg9C70LjRhtGPINCQ0LrQsNC00LXQvNGW0LrQsCDQr9C90LPQtdC70Y8sIDUsINCa0LjRl9CyLCAwMjAwMA!5e0!3m2!1sru!2sua!4v1537551858847', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
        a(href="javascript:void(0)").btn.btn--reg-form Записаться
