header.header-s
    .container.header-s__wrap
        .logo
            a(href="#")
                img.logo__img(src="static/img/svg/logo.svg" alt="bargester studio" title="Запись видео любой категории и содержания" )
                | bargester studio
        ul.header-nav
            li: a(href="#").header-nav__link Главная
            li: a(href="#").header-nav__link Цены
            li: a(href="#").header-nav__link Команда
            li: a(href="#").header-nav__link Отзывы
            li: a(href="#").header-nav__link Контакты