header.header-s
    .container.header-s__wrap
        .logo
            a(href="https://bargester.github.io/test-ContentMania/build/index.html")
                img.logo__img(src="static/img/svg/logo.svg" alt="bargester studio" title="Запись видео любой категории и содержания" )
                | bargester studio
        nav.nav
            a(href="javascript:void(0)").header-nav__menu Меню
            ul.header-nav
                li.header-nav__item: a(href="https://bargester.github.io/test-ContentMania/build/index.html").header-nav__link Главная
                li.header-nav__item: a(href="#").header-nav__link Цены
                li.header-nav__item: a(href="#").header-nav__link Команда
                li.header-nav__item: a(href="#").header-nav__link Отзывы
                li.header-nav__item: a(href="#").header-nav__link Контакты