section.intro-s
    .container
        .intro-s__descriptiom
            h1.intro-s__title bargester
            h2.intro-s__subtitle видеостудия
            ul.intro-s__description-list
                li.intro-s__description-item Видеозапись
                li.intro-s__description-item Создание клипов
                li.intro-s__description-item Реклама
                li.intro-s__description-item Свадьбы
                li.intro-s__description-item Корпоративы
            a(href="#").btn Заказать
        a(href="javascript:void(0)").down#down