section.price-intro-s
    .container.price-intro-s__wrap
        h3.common-title Стоимость услуг видеозаписи
        .price-intro-s__content
            .price-intro-s__text
                p.common-text Мы хотим, чтобы Ваше сотрудничество со студией видеозаписи не было похоже на покупку кота в мешке, поэтому предлагаем Вам приехать к нам на студию, записать отрывок своего материала и получить на выходе короткий пример результата совершенно бесплатно! Если наши результаты Вам понравится - мы продолжим работу дальше. Если не понравится... Хотя, конечно же понравится! Иначе мы бы не предлагали такую услугу как бесплатный тест-драйв студии, если бы не были уверены в Вашем успехе!
                p.common-text Приезжайте, и попробуйте студию "на вкус"!
                p.common-text Работа на студии видеозаписи - процесс творческий. Мы это прекрасно понимаем. Когда записываешь видео что-то может не получаться с первого раза, а что-то может не получаться и с десятого раза. В случае почасовой оплаты создаётся ненужное временное ограничение и спешка, это мешает Вашей работе. Поэтому мы предлагаем все наши услуги в виде пакетов по фиксированной цене.
            .price-intro-s__video
                h3.price-intro-s__title Пример одной из работ:
                iframe(width='100%', height='315', src='https://www.youtube.com/embed/Bq6IuZIJhuI?rel=0', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
        a(href="javascript:void(0)").btn.btn--reg-form Записаться
