section.price-main-s
    .container.price-main-s__wrap
        h3.common-title Расценки на запись видео
        .price-main-s__list-container
            ul.price-main-s__list
                li.price-main-s__list-item
                    span.text-color Отчетные ролики
                    |  - 30 000 руб / 12 670 грн
                li.price-main-s__list-item
                    span.text-color Имиджевые ролики
                    |  - 150 000 руб / 63 000 грн
                li.price-main-s__list-item
                    span.text-color Учебные фильмы
                    |  - 160 000 руб / 67 560 грн
                li.price-main-s__list-item
                    span.text-color Музыкальные клипы
                    |  - 120 000 руб / 50 600 грн
            ul.price-main-s__list
                li.price-main-s__list-item
                    span.text-color Рекламные ролики
                    |  - 180 000 руб / 76 000 грн
                li.price-main-s__list-item
                    span.text-color Презентационные ролики
                    |  - 190 000 руб / 80 200 грн
                li.price-main-s__list-item
                    span.text-color Документальные фильмы
                    |  - 170 000 руб / 71 800 грн
                li.price-main-s__list-item
                    span.text-color Видеотрансляция
                    |  - 90 000 руб / 38 000 грн
        a(href="javascript:void(0)").btn.btn--reg-form Заказать услугу
