section.reviews-main-s
    .container.reviews-main-s__wrap
        ul.reviews-main-s__list
            li.reviews-main-s__list-item
                img(src="static/img/content/reviews-1.jpg").reviews-main-s__list-img
                h5.reviews-main-s__list-title Тереняк Василий
                q.reviews-main-s__list-text Мне посчастливилось стать обладателем сертификата от Bargester. Хочу сказать, что на этой студии я получил незабываемые эмоции и крутой видео-клип, чем-то напоминающий Starset - Monster, хммммм
            li.reviews-main-s__list-item
                img(src="static/img/content/reviews-2.jpg").reviews-main-s__list-img
                h5.reviews-main-s__list-title Тереняк Вася
                q.reviews-main-s__list-text Выбрал эту студию, потому что мои знакомые пользовались их услугами. А вот когда впервые приехал, то очень не понравилась атмосфера, качество, а что самое главное это непрофессионализм оператора. С тех пор сюда не захожу
            li.reviews-main-s__list-item
                img(src="static/img/content/reviews-3.jpg").reviews-main-s__list-img
                h5.reviews-main-s__list-title Тереняк Василий Николайович
                q.reviews-main-s__list-text Не знаю, что у них там с видео, но сайт очень красивый
            li.reviews-main-s__list-item
                img(src="static/img/content/reviews-4.jpg").reviews-main-s__list-img
                h5.reviews-main-s__list-title Тереняк Василевс
                q.reviews-main-s__list-text Кто-то может меня забрать отсюда, я просто хотел снять красивое видео

        a(href="javascript:void(0)").btn.btn--reg-form Связать с нами