section.team-main-s
    .container.team-main-s__wrap
        ul.team-main-s__list
            li.team-main-s__list-item
                img.team-main-s__list-img(src="static/img/content/team-1.jpg")
                h5.team-main-s__list-title Тереняк Василий
                p.team-main-s__list-subtitle Оператор
                p.team-main-s__list-text Человек, который талантливо концентрирует вокруг себя позитивную энергетическую силу. Очень магическая личность. Ну и снимает видео еще
            li.team-main-s__list-item
                img.team-main-s__list-img(src="static/img/content/team-2.jpg")
                h5.team-main-s__list-title Тереняк Василий
                p.team-main-s__list-subtitle Монтажер
                p.team-main-s__list-text Человек, который талантливо монтирует вокруг себя. Очень монтирующая личность