section.price-intro-s
    .container.price-intro-s__wrap
        h3.common-title Команда видеозаписи
        .price-intro-s__content
            .price-intro-s__text
                p.common-text Bargester studio – творческая команда людей, увлеченных любимым делом.
                    br
                    | Мы все время движемся вперед, самосовершенствуемся и развиваемся.
                    br
                    | Иначе, жизнь скучна и однообразна.
                    br
                    | Присоединяйтесь к нам! Приходите! Пробуйте! Ничего не бойтесь!
                p.common-text Опыт здесь не важен, стоит просто быть собой! Всё возможно!
                    br
                    | Не хотите – заставим ☺
                    br
                    | То, что мертво - умереть не может!
                    br
                    | Ибо ночь темна и полна ужасов!
            .price-intro-s__video
                h3.price-intro-s__title Здесь должно быть видео с командой, но здесь еще одна песня Starset:
                iframe(width='100%', height='315', src='https://www.youtube.com/embed/LAMiX5EEbFU?rel=0', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
        a(href="javascript:void(0)").btn.btn--reg-form Записаться
