.footer-s{
  background-color: #000;
  height: 40px;
  line-height: 40px;
  border-top: 1px solid $main-color;
  text-align: center;
  &__link{
    color: #9ba5a8;
    &:hover {
      color: #35393d;
    }
  }
}