.header-s{
  position: fixed;
  width: 100%;
  background-color: rgba(0,0,0, .9);
  border-bottom: solid 1px rgba($main-color, .4);
  z-index: 99;
  &__wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logo{
  font-family: GreatVibes, serif;
  color: $main-color;
  font-size: 70px;
  &__img{
    height: 50px;
    padding-right: 15px;
  }
}

.header-nav{
  max-width: 500px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
  &__link{
    position: relative;
    font-family: RobotoSlab, serif;
    font-size: 25px;
    transition: .3s;
    &:hover{
      color: $main-color;
    }
    &:after{
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      background-color: $main-color;
      height: 1px;
      width: 0;
      transition: .3s;
    }
    &:hover:after{
      width: 100%;
    }
  }
}