.header-s{
  position: fixed;
  width: 100%;
  background-color: rgba(0,0,0, .9);
  border-bottom: solid 1px rgba($main-color, .4);
  z-index: 99;
  &__wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
}

.logo{
  font-family: GreatVibes, serif;
  color: $main-color;
  font-size: 70px;
  &__img{
    height: 50px;
    padding-right: 15px;
  }
}
  .nav{
    max-width: 500px;
    width: 100%;
  }
.header-nav{
  display: flex;
  justify-content: space-between;
  color: white;
  &__menu{
    display: none;
    font-size: 30px;
    text-align: right;
    color: $main-color;
    padding-right: 10px;
  }
  &__link{
    position: relative;
    font-size: 25px;
    transition: .3s;
    &:hover{
      color: $main-color;
    }
    &:after{
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      background-color: $main-color;
      height: 1px;
      width: 0;
      transition: .3s;
    }
    &:hover:after{
      width: 100%;
    }
  }
}

@media screen and (max-width: 980px) {
  .header-s__wrap{
    align-items: flex-start;
  }
  .logo{
    font-size: 40px;
    &__img{
      height: 25px;
      padding-right: 10px;
    }
  }
  .nav{
    width: auto;
    padding-top: 5px;
    padding-right: 5px;
  }
  .header-nav{
    display: none;
    &__menu{
      display: block;
    }
    &__item{
      display: block;
      width: 100%;
      height: 30px;
      margin: 10px 0;
      text-align: center;
    }
  }
}

@media screen and (max-width: 350px) {
  .logo__img{
    display: none;
  }
}